@{
    ViewBag.Title = "About LJ's Catering";
}
<h2>@ViewBag.Title</h2>

<p>Ljs catering is a local, Family owned catering business. Dedicated to helping you with all of your catering needs.</p>
<p>Look at our menus for additional information related to pricing and our available food items.</p>
