@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1>Welcome Back!</h1>
</div>

<div class="btn" role="group" aria-label="Employees">
    <button type="button" class="btn btn-secondary">@Html.ActionLink("Employees", "Employees", "Employee")</button>
</div>
<div class="btn" role="group" aria-label="Inventory">
    <button type="button" class="btn btn-secondary">@Html.ActionLink("Inventory", "Products", "Product")</button>
</div>
<div class="btn" role="group" aria-label="Customers">
    <button type="button" class="btn btn-secondary">@Html.ActionLink("Customers", "Customers", "Customer")</button>
</div>
<div class="btn" role="group" aria-label="Orders">
    <button type="button" class="btn btn-secondary"> @Html.ActionLink("Orders", "Orders", "Order")</button>
</div>